@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;

    /* font-family: 'Montserrat', sans-serif; */
}
body{
    font-family: 'Montserrat', sans-serif;
}
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;

}
label.logo{
    color: white;
    font-size: 25px;
    line-height: 80px;
    font-weight: 600;
    padding: 0 100px;
    cursor: pointer;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 17px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;

}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.check-btn{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}